#!/bin/bash

#SBATCH --job-name={{ jobname }}
#SBATCH --output="%x-%j.out"

#SBATCH --ntasks=1
#SBATCH --time={{ time }}

#SBATCH --cpus-per-task={{ cpus_per_task }}
#SBATCH --mem={{ mem }}
#SBATCH --gres="gpu{% if gpu_name %}:{% endif %}{{ gpu_name }}:{{ gpus }}"
#SBATCH --partition={{ partition }}

#SBATCH --mail-user={{ mail }}
#SBATCH --mail-type=ALL
{% for instruction in additional_sbatch %}
#SBATCH --{{ instruction.name }}={{ instruction.value }}
{% endfor %}

{{ python_command }} -m hydra_plugins.bioblue_launcher.launcher {{ input_file }} {{ output_file }}